 .radio__buttons {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
  .radio__box { 
   line-height: 0;
   font-size: 0;
   position: absolute;
   visibility: hidden;
   opacity: 0;
 } 
 .radio__box:checked + .radio__fake_after::before {
    width: 100%;
    height: 100%;
    opacity: 1;
 }
 .radio__fake_after{
   display: flex;
   position: absolute;
   align-items: center;
   width: 30px;
   height: 30px;
  right: 25px;
  top: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #E5E4E1;
  display: block;
  flex-shrink: 0;
  z-index: 3;
 }
 
 .radio__fake_after::before{
    opacity: 0;
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #EB3D35;
    background-color: #ffffff;
    border-radius: 50%;
    background-image: url(../../images/cirkle.png);
    background-repeat: no-repeat;
    background-position: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
   z-index: 5;  
 }
 .radio__image{
    width: 60px;
    height: 60px;
    margin: 0, auto;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
 }
 
 .radio__item {
   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    width: 360px;
    height: 80px;
    background-color: #F3F6F9;
    box-sizing: border-box;
    border: 1px solid #F3F6F9;
    margin-bottom: 20px;
    margin-right: 20px;
    list-style-type: none;
    
 }
 .radio__border_red {
   /* width: 360px;
   height: 80px; */
   border: 1px solid #EB3D35;
   background-color: #fff;
   box-sizing: border-box;
   z-index: 5;
 }
 .radio__text {
    font-family: "Inter";
    font-size: 20px;
    line-height: .9;
    color: #051655;
    margin-left: 80px;
    margin-top: 25px;
    z-index: 3;
    word-spacing: -1px;
    letter-spacing: -1px;
 }